extends base.pug

block scripts
  script(src="/static/javascripts/picker.min.js")
  script(src="/static/javascripts/createSchedule.js")
  link(rel="stylesheet", href="/static/css/picker.min.css")

block body
  h1.text-center Welcome to RG Teams!

  form.jumbotron(method='POST' action='/game/add')
    .div.form-group
      label #[input#scheduleSelector.form-control(type="radio", name="scheduleSelection", value="weekly", onclick=`createSchedule.scheduleSelectionOnClicked(${JSON.stringify("weeklyForm")});`)] Weekly
      label #[input#scheduleSelector.form-control(type="radio", name="scheduleSelection", value="single", onclick=`createSchedule.scheduleSelectionOnClicked(${JSON.stringify("singleForm")});`)] Single
    // weekly game controls
    .div.selection-form-group#weeklyForm
      label Choose day of week
      .div.time-selection
        div.js-inline-picker.start-time-picker
    // single date controls
    .div.selection-form-group#singleForm
      label(for='singleDate') What is the date of the game?
      input#StartDate.input-sm.form-control(type='date', name='singleDate')
      label(for='singleTime') What is the time of the game?
      input#StartTime.input-sm.form-control(type='time', name='singleTime', step='300')
      button.btn.btn-primary(type='submit') Save
  script.
    window.onload = createSchedule.onSchedulePageLoad;