extends base.pug

block scripts
  script(src="/static/javascripts/picker.min.js")
  link(rel="stylesheet", href="/static/css/picker.min.css")

block body
  h1.text-center Welcome to RG Teams!

  .div.gameDiv
    label Team:
    label #{game.team.name}
    br
    label Game ID:
    label #{game._id}
    br
    label Game Date:
    label #{game.date}
    br
    form.hidden(method="post", action="/game/" + game._id + "/delete")
      button.btn.btn-outline-danger.delete Delete