extends base.pug

block scripts
  script(src="/static/javascripts/picker.min.js")
  link(rel="stylesheet", href="/static/css/picker.min.css")

block body
  h1.text-center Welcome to RG Teams!

  .div.teamDiv
    ul
      each game in games
        li
          label #{game.date}
          form.hidden(method="post", action="/game/delete/" + game.id)
              button.btn.btn-outline-danger.delete Delete